.button {
	border-radius: 3px;
	background-color: $color-b250;
	color: #ffffff;
	font-size: 10px;
	border: none;
	
	&--main {
		padding: 9px 16px;
		font-size: 12.2px;
		
		@media (max-width: 414px) {
			width: 100%;
		}
	}
	
	&--submit {
		padding: 16px 25px;
		font-size: 10.6px;
		font-weight: 500;
		
		@media (max-width: 414px) {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}