.card {
	border-radius: 3px;
	border: solid 0.8px #d9d9d9;
	
	&__headline--lg {
		font-family: $main-font;
		font-size: 15.2px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #393838;
		flex: 2;
		margin: 0;
	}
	
	&__headline--sm {
		font-family: $secondary-font;
		font-size: 14.5px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #323131;
		margin: 0;
	}
	
	&__image {
		height: 100vh;
		max-height: 160px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../../img/map.png');
	}
	
	&__content {
		padding: 13px;
		
		&--border {
			border-top: solid 1px #d9d9d9;
			border-bottom: solid 1px #d9d9d9;
		}
		
		&--item {
			font-family: $secondary-font;
			font-size: 11.4px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #535151;
			margin-top: 8px;
		}
	}
	
	.card-content {
		&__item {
			flex-basis: 50%;
		}
		
		&__headline {
			font-family: $secondary-font;
			font-size: 10.6px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #323131;
			margin-bottom: 8px;
			margin-top: 12px;
			
			&:nth-last-child(-n+2){
				margin-top: 16px;
			}
		}
	}
	
	&__timer {
		font-size: 16.7px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.18;
		letter-spacing: normal;
		text-align: right;
		color: #e60c14;
		flex: 1;
		font-family: $main-font;
	}
	
	.info {
		&__image {
			width: 67px;
			height: 67px;
			border-radius: 3px;
			border: solid 0.8px #d6cfcf;
		}
		
		&__label {
			font-family: $main-font;
			font-size: 10.6px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.14;
			letter-spacing: normal;
			color: #3b3b3b;
			margin-bottom: 4px;
		}
		
		&__select {
			border-radius: 1.5px;
			border: solid 0.8px #d8d8d8;
			background: transparent;
			font-size: 10.6px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #424242;
			padding: 4px;
			font-family: $main-font;
		}
		
		&__headline--lg {
			font-family: $main-font;
			font-size: 15.2px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #393838;
			margin: 0;
		}
	}
	
	.price-block {
		&--mobile {
			display: none;
			margin-bottom: 5px;
			margin-top: 5px;
			
			@media (max-width: 576px) {
				display: block;
			}
			
			.price-block__discount {
				width: 60px;
			}
		}
		
		&--desktop {
			@media (max-width: 576px) {
				display: none;
			}
		}
		
		&__main {
			font-family: $main-font;
			font-size: 16.7px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.18;
			letter-spacing: normal;
			text-align: right;
			color: $color-b250;
		}
		
		&__old {
			font-size: 10.6px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.43;
			letter-spacing: normal;
			text-align: right;
			color: #393838;
			text-decoration: line-through;
			font-family: $main-font;
		}
		
		&__discount {
			font-family: $main-font;
			border-radius: 3px;
			border: solid 0.8px $color-b250;
			font-size: 10.6px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.43;
			letter-spacing: normal;
			color: $color-b250;
			text-align: center;
			padding: 3px 6px;
		}
	}
}
