.head {
	
	&__headline, &__label, &__subheadline {
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		margin: 0;
		font-family: $secondary-font;
	}
	
	&__headline {
		font-size: 22.8px;
		color: #323131;
		margin-bottom: 15px;
		font-weight: normal;
		
		@media (max-width: 992px) {
			display: none;
		}
	}
	
	&__label {
		font-size: 11.4px;
		color: #5e5b5b;
		padding-bottom: 6px;
	}
	
	&__subheadline {
		font-size: 18.3px;
		color: #414040;
		margin-top: 5px;
	}
	
	.inner-wrap {
		position: relative;
		
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 37px;
			height: 37px;
			bottom: 5px;
			left: -50px;
			background-color: $color-b250;
			-webkit-mask-image: url('../../img/TY_tick.svg');
			mask-image: url('../../img/TY_tick.svg');
			
			@media (max-width: 992px) {
				left: 0;
			}
		}
		
		@media (max-width: 992px) {
			padding-left: 50px;
		}
	}
}
