.product {
	padding: 35px 25px 0 35px;
	
	@media (max-width: 992px) {
		padding: 20px 20px 0 20px;
	}
	
	@media (max-width: 768px) {
		padding: 15px;
	}
	
	@media (max-width: 576px) {
		padding: 15px 0 0 0;
	}
	
	&-mobile {
		@media (max-width: 576px) {
			display: none;
			background: #fafafa;
			//padding-top: 15px;
			padding: 15px 15px 0 15px;
		}
	}
	
	.mobile__icon {
		fill: $color-b250;
	}
	
	.mobile-toggle {
		display: none;
		font-family: $secondary-font;
		background-color: #fafafa;
		border-top: solid 1px #e6e6e6;
		border-bottom: solid 1px #e6e6e6;
		padding: 15px;
		
		@media (max-width: 576px) {
			display: flex;
		}
		
		&__headline {
			color: $color-b250;
			font-size: 14px;
			font-weight: 500;
		}
	}
	
	&__price, &__info {
		font-size: 10.6px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #323131;
		margin: 0;
		font-family: $secondary-font;
	}
	
	.list-holder {
		li:nth-child(even) {
			margin: 10px 0;
		}
	}
	
	&__price {
		font-weight: 600;
		font-family: $secondary-font;
		
		&--sm {
			font-size: 12.9px;
			font-family: $secondary-font;
			display: flex;
			align-items: center;
		}
		
		&--lg {
			font-size: 16.7px;
			font-family: $secondary-font;
		}
		
		&--label {
			padding-top: 4px;
			font-size: 9.1px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #706e6e;
			padding-right: 5px;
			font-family: $secondary-font;
		}
	}
	
	&__info {
		font-weight: normal;
		color: #4b4849;
	}
	
	&__head {
		padding-bottom: 25px;
		font-family: $secondary-font;
		
		@media (max-width: 992px) {
			padding-bottom: 15px;
		}
	}
	
	&__main {
		border-top: solid 0.5px #d9d9d9;
		border-bottom: solid 0.5px #d9d9d9;
		padding: 25px 0;
		
		@media (max-width: 992px) {
			padding: 15px 0;
		}
	}
	
	&__bottom {
		padding-top: 25px;
		
		@media (max-width: 992px) {
			padding-top: 15px;
		}
		
		@media (max-width: 576px) {
			padding: 15px 0;
			border-bottom: solid 0.5px #d9d9d9;
		}
	}
	
	.product-head {
		
		&__image {
			border-radius: 3px;
			border: solid 0.8px #d6cfcf;
			background-color: #ffffff;
			width: 49px;
			height: 49px;
		}
		
		&__headline {
			font-size: 10.6px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: right;
			color: #414040;
			margin: 0 0 0 8px;
			font-family: $secondary-font;
		}
		
		&__label {
			font-size: 9.1px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #706e6e;
			margin: 0 0 0 8px;
			font-family: $secondary-font;
		}
	}
	
	&__headline {
		display: none;
		font-family: $secondary-font;
		font-size: 22.8px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #323131;
		text-align: center;
		
		@media (max-width: 576px) {
			display: block;
			margin-top: 0;
		}
	}
}
