.product {
	padding: 35px 25px 0 35px;
	
	&__price, &__info {
		font-size: 10.6px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #323131;
		margin: 0;
	}
	
	.list-holder {
		li:nth-child(even) {
			margin: 10px 0;
		}
	}
	
	&__price {
		font-weight: 600;
		
		&--sm {
			font-size: 12.9px;
		}
		
		&--lg {
			font-size: 16.7px;
		}
		
		&--label {
			font-size: 9.1px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #706e6e;
			padding-right: 5px;
		}
	}
	
	&__info {
		font-weight: normal;
		color: #4b4849;
	}
	
	&__head {
		padding-bottom: 25px;
	}
	
	&__main {
		border-top: solid 0.5px #d9d9d9;
		border-bottom: solid 0.5px #d9d9d9;
		padding: 25px 0;
	}
	
	&__bottom {
		padding-top: 25px;
	}
	
	.product-head {
		
		&__image {
			border-radius: 3px;
			border: solid 0.8px #d6cfcf;
			background-color: #ffffff;
			width: 49px;
			height: 49px;
		}
		
		&__headline {
			font-size: 10.6px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: right;
			color: #414040;
			margin: 0 0 0 8px;
		}
		
		&__label {
			font-size: 9.1px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #706e6e;
			margin: 0 0 0 8px;
		}
	}
}