@font-face {
	font-family: 'SFProDisplay';
	font-weight: normal;
	src:  local('SFProDisplay'), local('SFProDisplay');
	src:  url('../fonts/SFProDisplay/SFProDisplay-Regular.eot');
	src:  url('../fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
	url('../fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
}
