$font-ty-sidebar: "Helvetica Neue", sans-serif;

$white:         #fff;
$gray-50:       #fafafa;
$gray-100:      #e1e1e1;
$gray-150:      #e6e6e6;
$gray-200:      #d8d8d8;
$gray-250:      #c3c3c3;
$gray-300:      #acacb2;
$gray-350:      #a2a2a2;
$gray-400:      #999;
$gray-450:      #969696;
$gray-500:      #717171;
$gray-550:      #4b4b4b;
$gray-600:      #4a4a4a;
$gray-650:      #555555;
$gray-700:      #9b9b9b;
$black:         #000;
$red-50:        #fff0f0;
$red-100:       #e53935;
$blue-50:       #4a90e2;
$green-50:      #50ae54;
$raspberry:     #e5007e;
$outline:       #0094ff;

// colors
$white: #fff;
$light-gray: #dfe3e8;
$color-ocu: #5dc935;

// gray
$color-n50: #f7f8fa;
$color-n75: #eceef1;
$color-n100: #d9dee3;
$color-n200: #c2c8d1;
$color-n300: #9ea5b0;
$color-n400: #6d7681;
$color-n500: #36404c;
$color-n600: #323131;
// gray alpha
$color-na100: rgba($color-n500, .1);
$color-na200: rgba($color-n500, .2);
$color-na300: rgba($color-n500, .5);
$color-na400: rgba($color-n400, .5);

// red
$color-r50: #ffe9e6;
$color-r75: #ffd5cc;
$color-r100: #ffb5a6;
$color-r200: #ff8a73;
$color-r300: #f53;
$color-r400: #e32f0b;

// blue
$color-b50: #deebff;
$color-b75: #b3d4ff;
$color-b100: #4c9aff;
$color-b200: #2684ff;
$color-b250: #4476d2;
$color-b300: #0065ff;

// green
$color-g50: #e4f7e5;
$color-g75: #c0ebc6;
$color-g100: #99dea1;
$color-g200: #62c46e;
$color-g300: #3bb44a;
$color-g400: #2e8e3a;

// yellow
$color-y50: #fffae6;
$color-y75: #fff0b3;
$color-y100: #ffe380;
$color-y200: #ffc400;
$color-y300: #ffab00;
$color-y400: #ff991f;

//font
$main-font: "Arial", sans-serif;
$secondary-font: 'SFProDisplay', 'sans-serif';

//font-sizes
$font-size-xs:  14px;

$dropdown-arrow: 'data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDQiPjx0aXRsZT5Ecm9wZG93biBBcnJvdzwvdGl0bGU+PGcgaWQ9IlJlY3RhbmdsZS0zIj48cG9seWdvbiBpZD0icGF0aC0xIiBwb2ludHM9IjkgMCA0LjUgNCAwIDAgOSAwIi8+PC9nPjwvc3ZnPg==';
